<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Procure Instrumentos pelo Delay.com
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="instrumento-index-grid pt4">
  <% @instrumentos.each do |instrumento| %>

    <div class="instrument border-light">
      <div class="instrument-thumb">
      <%= link_to image_tag(instrumento.imagem_url(:thumb)), instrumento %>

      <% if instrumento.condicao? %>
        <div class="condicao">
          <span class="tag is-dark"><%= instrumento.condicao %></span>
        </div>
      <% end %>
      </div>


    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to instrumento.titulo, instrumento %></h3>

      <p class="has-text-gray fg pt1">Vendido por <%= instrumento.user.name %></p>

      <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(instrumento.preco) %></p>

      <% if instrumento_author(instrumento) %>
         <%= link_to 'Editar', edit_instrumento_path(instrumento), class: "button is-small" %>
         <%= link_to 'Deletar', instrumento, method: :delete, data: { confirm: "Você tem certeza?" }, class: "button is-small" %>
      <% end %>

    </div>
  </div>
  <% end %>
</div>