<p id="notice"><%= notice %></p>

<h1>Itens</h1>

<table>
  <thead>
    <tr>
      <th>Instrumento</th>
      <th>Carrinho</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itens.each do |iten| %>
      <tr>
        <td><%= iten.instrumento_id %></td>
        <td><%= iten.carrinho %></td>
        <td><%= link_to 'Show', iten %></td>
        <td><%= link_to 'Edit', edit_iten_path(iten) %></td>
        <td><%= link_to 'Destroy', iten, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iten', new_iten_path %>
