<p id="notice"><%= notice %></p>

<p>
  <strong>Instrumento:</strong>
  <%= @iten.instrumento_id %>
</p>

<p>
  <strong>Carrinho:</strong>
  <%= @iten.carrinho %>
</p>

<%= link_to 'Edit', edit_iten_path(@iten) %> |
<%= link_to 'Back', itens_path %>
